## Wstęp do uczenia maszynowego 
### Praca domowa 5
#### Jakub Piwko, Malwina Wojewoda 
zespół walidacyjny
***

### Pakiety

In [3]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans, AgglomerativeClustering
import matplotlib.pyplot as plt
import seaborn as sns

### Wczytanie i analiza danych

In [8]:
X = pd.read_csv('urbanGB.txt', names = ['x','y'], header=None)

In [9]:
X.head()

          x        y
0 -0.310990  53.7802
1 -3.112550  55.8706
2 -0.088533  51.3806
3 -0.326795  51.4476
4 -3.946530  51.6594

In [ ]:
## na razie stop bo jednak nie wiem co w tym przypadku w ogóle ma robić walidacja