# Wstęp do uczenia maszynowego
##  Projekt nr 2
#### Jakub Piwko, Malwina Wojewoda

#### Pakiety

In [2]:
import pandas as pd
#import numpy as np
#from sklearn.cluster import KMeans, AgglomerativeClustering
import matplotlib.pyplot as plt
#import seaborn as sns

### Wczytanie danych oraz ich opis

Jak dowiadujemy się z opisu danych są one obrobioną nieco wersją zbioru USCensus1990raw. Zawierał  on 1 % próbki z pełnego spisu powszechnego z 1990r. W naszym pliku rekordy zostały losowo przemieszane. Aby uzyskać zbiór, którym się zajmujemy zostały wykonane następujące operacje: 
* randomizacja: rekordy z USCensus1990raw zostały losowo permutowane
* zmiany w kolumnach: kilka zmiennych ciągłych zostało zdyskretyzowane, a zmienne dyskretne, które miały dużo wartości zostało zwinięte do mniejszej liczby wartości; kolumny, które nie uległy zmianie oznaczone są prefiksem "i", a te które były zmienione - prefiksem "d"; dokładne zmieny zostały opisane w pliku *USCensus1990.mapping.sql*
* usunięto kolumny, które były mało przydatne

Można więc powiedzieć, że na danych został już wykonany preprocessing.

Pierwszym atrybutem jest caseid i powinnien on być ignorowany podczas analizy.  
Wszystkie dane są numeryczne.

In [3]:
X = pd.read_csv('USCensus1990.data.txt')
X.head()

,caseid,dAge,dAncstry1,dAncstry2,iAvail,iCitizen,iClass,dDepart,iDisabl1,iDisabl2,...,iTmpabsnt,dTravtime,iVietnam,dWeek89,iWork89,iWorklwk,iWWII,iYearsch,iYearwrk,dYrsserv
0,10000,5,0,1,0,0,5,3,2,2,...,0,5,0,2,1,1,0,11,1,0
1,10001,6,1,1,0,0,7,5,2,2,...,0,1,0,2,1,1,0,5,1,0
2,10002,3,1,2,0,0,7,4,2,2,...,0,2,0,2,1,1,0,10,1,0
3,10003,4,1,2,0,0,1,3,2,2,...,0,1,0,1,1,1,0,10,1,0
4,10004,7,1,1,0,0,0,0,2,2,...,3,0,0,0,2,2,0,5,6,0

In [3]:
X.shape

(2458285, 69)

Sprawdźmy czy w zbiorze są jakieś braki danych:

In [4]:
X.isna().sum().sum()

0

In [5]:
X.isnull().sum().sum()

0

Wygląda na to, że w naszym zbiorze nie ma braków danych.

In [11]:
X.duplicated().sum()

0

Nie ma też zduplikowanych wierszy.

# takie coś jest w task descr ale nigdzie nei mogłam tego znalezc, poza tym to z 2001 wiec chyba nei ma sensu o tym myśleć, jakbyś też wpadł na taki głupi pomysł

Meek, Thiesson, and Heckerman (2001) provide a method for selecting the number of points to use during the construction of a clustering model and demonstrate the method can lead to substantial speedups while obtaining clusters with comparable predictive power. Their analysis is performed on several data sets including the USCensus1990 data set.

Meek, Thiesson, and Heckerman (2001), "The Learning Curve Method Applied to Clustering", to appear in The Journal of Machine Learning Research. (Also see MSR-TR-2001-34

Sprawdzimy jeszcze jakie są unikalne wartości w każdej z kolumn:

In [9]:
pd.set_option('display.max_rows', None) 
print(X.apply(lambda col: col.unique()))

caseid       [10000, 10001, 10002, 10003, 10004, 10005, 100...
dAge                                  [5, 6, 3, 4, 7, 1, 2, 0]
dAncstry1               [0, 1, 11, 3, 2, 9, 8, 10, 4, 6, 7, 5]
dAncstry2              [1, 2, 12, 3, 4, 10, 7, 5, 11, 8, 6, 9]
iAvail                                         [0, 3, 4, 2, 1]
iCitizen                                       [0, 3, 4, 2, 1]
iClass                          [5, 7, 1, 0, 6, 3, 4, 2, 8, 9]
dDepart                                     [3, 5, 4, 0, 2, 1]
iDisabl1                                             [2, 0, 1]
iDisabl2                                             [2, 0, 1]
iEnglish                                       [1, 0, 2, 3, 4]
iFeb55                                                  [0, 1]
iFertil         [1, 3, 0, 4, 7, 2, 5, 6, 12, 8, 13, 10, 9, 11]
dHispanic                       [0, 1, 9, 2, 6, 3, 4, 8, 7, 5]
dHour89                                     [4, 1, 3, 0, 5, 2]
dHours                                      [3, 1, 4, 0, 5, 2]
iImmigr                     [0, 5, 1, 8, 3, 10, 6, 7, 4, 2, 9]
dIncome1                                       [2, 1, 0, 3, 4]
dIncome2                                                [0, 1]
dIncome3                                                [0, 1]
dIncome4                                                [1, 0]
dIncome5                                                [0, 1]
dIncome6                                                [0, 1]
dIncome7                                                [0, 1]
dIncome8                                                [0, 1]
dIndustry           [10, 4, 1, 0, 9, 7, 6, 3, 5, 8, 11, 12, 2]
iKorean                                                 [0, 1]
iLang1                                               [1, 2, 0]
iLooking                                             [0, 2, 1]
iMarital                                       [1, 0, 4, 2, 3]
iMay75880                                               [0, 1]
iMeans              [1, 10, 0, 11, 2, 4, 8, 5, 12, 3, 7, 9, 6]
iMilitary                                      [4, 0, 2, 3, 1]
iMobility                                            [2, 1, 0]
iMobillim                                            [2, 0, 1]
dOccup                             [3, 2, 4, 0, 6, 1, 5, 8, 7]
iOthrserv                                               [0, 1]
iPerscare                                            [2, 0, 1]
dPOB                                     [0, 3, 4, 6, 2, 1, 5]
dPoverty                                             [2, 1, 0]
dPwgt1                                            [1, 2, 0, 3]
iRagechld                                      [4, 2, 0, 3, 1]
dRearning                                   [3, 2, 0, 4, 5, 1]
iRelat1         [0, 1, 2, 10, 12, 9, 7, 4, 3, 13, 11, 6, 8, 5]
iRelat2                         [0, 6, 9, 1, 8, 2, 4, 3, 7, 5]
iRemplpar    [0, 121, 112, 211, 111, 122, 222, 221, 223, 11...
iRiders                            [3, 1, 0, 2, 4, 8, 6, 5, 7]
iRlabor                                  [1, 6, 0, 3, 4, 2, 5]
iRownchld                                               [0, 1]
dRpincome                                   [3, 2, 0, 4, 5, 1]
iRPOB        [22, 10, 21, 23, 51, 24, 52, 40, 31, 35, 36, 3...
iRrelchld                                               [0, 1]
iRspouse                                 [3, 1, 6, 4, 0, 5, 2]
iRvetserv               [0, 1, 3, 8, 10, 4, 7, 2, 5, 9, 6, 11]
iSchool                                           [1, 2, 3, 0]
iSept80                                                 [0, 1]
iSex                                                    [1, 0]
iSubfam1                                          [0, 2, 3, 1]
iSubfam2                                          [0, 1, 2, 3]
iTmpabsnt                                         [0, 3, 1, 2]
dTravtime                                [5, 1, 2, 0, 4, 3, 6]
iVietnam                                                [0, 1]
dWeek89                                              [2, 1, 0]
iWork89                                              [1, 2, 0]
iWorklwk                                             [1, 2, 0]
iWWII                                                   [0, 1]
iYearsch     [11, 5, 10, 4, 8, 1, 7, 6, 12, 14, 15, 2, 0, 9...
iYearwrk                              [1, 6, 0, 7, 4, 2, 3, 5]
dYrsserv                                             [0, 1, 2]
dtype: object

In [ ]:
pd.set_option('display.max_rows', 10) #back to default